{{define "content"}}
<div class="row">
  <div class="column">
    <div class="ui container">
      <h1>{{tr $lang `Change password`}}</h1>
      <form method="POST" class="ui form">
        <div class="field">
          <label>New password</label>
          <input type="password" name="password" />
        </div>
        <div class="field">
          <label>Confirm new password</label>
          <input type="password" name="passwordconfirm" />
        </div>
        <div class="field">
          <button type="submit" class="ui right floated button blue">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
