{{define "content"}}
<div class="row fullWidth">
  <div class="ui one column center aligned grid">
    <div class="column four wide form-holder">
      <div class="logo">
        <a href="/login"><img src="/assets/img/cyza.png" alt="Cyza logo"></a>
      </div>
      <h1 class="h1Sign">Forgot password</h1>
      <form action="/forgotpassword" class="ui form" method="POST">
        <div class="field">
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="E-mail" value="{{.Content.Email}}">
        </div>
        <div class="field">
          <input type="submit" value="Send me password" class="ui button large fluid blue">
        </div>
      </form>
      {{if .Content.Error}}
      <div class="ui secondary inverted red segment">
        <p> <span class="error">{{.Content.Error}}</span> </p>
      </div>{{end}} {{if .Content.Message}}
      <div class="ui segment">
        <p> <span class="error">{{.Content.Message}}</span> </p>
      </div>{{end}}
    </div>
  </div>
</div>
{{end}}
