{{define "content"}}
<div class="ui grid">
  <div class="ui row">
    <div class="ui column">
      <div class="ui basic segment">
        <h1>Welcome to Cyza Service platform</h1>
        <p>{{.Content.User.Email}}</p>
        <p>{{.Content.User.Name}}</p>
        <p>{{.Content.User.Address.Street}}</p>
        <p>{{.Content.User.Address.City}}</p>
        <p>{{.Content.User.Address.State}}</p>
        <p>{{.Content.User.Address.Country}}</p>
        <p><a href="/profile" class="ui button blue">Edit profile</a></p>
      </div>
    </div>
  </div>
</div>
{{end}}
