<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0">
    <title>{{.Title}}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bundle.css">
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/app.js"></script>
</head>


<body>
    <div class="page-wrap">
        <header id="mainmenu">
            {{block "mainmenu" .}} {{end}}
        </header>
        <div id="content" class="ui grid">
            {{block "content" .}} No content {{end}}
        </div>
    </div>

    <div id="trash">
        {{block "trash" .}} {{end}}
    </div>
    <div id="modal-wrapper">
        {{block "modal" .}} {{end}}
    </div>
    <div id="notification-wrapper">
        {{block "notification" .}} {{end}}
    </div>
    <div id="loader" class="ui dimmer">
        <div class="ui loader"></div>
    </div>

</body>

</html>
