{{define "content"}}
<div class="row fullWidth">
  <div class="ui one column center aligned grid">
    <div class="column four wide form-holder">
      <div class="logo">
        <a href="/login"><img src="/assets/img/cyza.png" alt="Cyza logo"></a>
      </div>
      <a href="{{.Content.LAuthorization}}"><img src="/assets/img/linkedin.png" alt="LinkedIn sign in"></a>
      <div class="ui horizontal divider">
        Or
      </div>
      <h1 class="h1Sign">Sign in</h1>
      <form action="/login" class="ui form" method="POST">
        <label for="username" class="labelForm">Username</label>
        <div class="field">
          <input type="text" name="username" placeholder="Username" value="{{.Content.Username}}">
        </div>
        <label for="password" class="labelForm">Password</label>
        <div class="field">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
          <input type="submit" value="Sign in" class="ui blue button large fluid">
        </div>
        <div class="field">
          <a href="/forgotpassword">Forgot password?</a>
        </div>
      </form>
      {{if .Content.Error}}
      <span class="error">{{.Content.Error}}</span> {{end}}
      <div class="labelAcc">
        Don't have an account?</div>
      <a href="/signup">Create account</a>
    </div>
  </div>
</div>
{{end}}
