{{define "content"}}
<div class="fullWidth">
  <div class="ui one column center aligned grid">
    <div class="column four wide form-holder">
      <div class="logo">
        <a href="login"> <img src="/assets/img/arrakis-logo-211.png" alt="Arrakis logo"></a>
      </div>
      <h1 class="h1Sign">Logout</h1>
      <p>You've been logged out</p>
      <p><a href="/login">Login again</a></p>
    </div>
  </div>
  {{end}}
