{{define "mainmenu"}}
<div class="ui secondary pointing menu">
  <a href="/" class="item"><img src="/assets/img/cyza.png" />
    <a href="/profile" class="item">Profile </a>
    <div class="right menu">
      <a href="/logout" class="item">Logout</a>
    </div>
</div>
{{end}}
