{{define "content"}}
<div class="ui grid">
  <div class="ui row">
    <div class="ui column">
      <div class="ui basic segment">
        <h1>Welcome to Cyza Service platform</h1>
        <form class="ui form" method="POST">
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" value="{{.Content.User.Email}}">
          </div>
          <div class="field">
            <label>Full Name</label>
            <input type="text" name="name" value="{{.Content.User.Name}}">
          </div>
          <div class="field">
            <label>Street</label>
            <input type="text" name="street" value="{{.Content.User.Address.Street}}">
          </div>
          <div class="field">
            <label>City</label>
            <input type="text" name="city" value="{{.Content.User.Address.City}}">
          </div>
          <div class="field">
            <label>State</label>
            <input type="text" name="state" value="{{.Content.User.Address.State}}">
          </div>
          <div class="field">
            <label>Country</label>
            <input type="text" name="country" value="{{.Content.User.Address.Country}}">
          </div>
          <div class="field">
            <input type="submit" value="Save" class="ui button large blue">
          </div>
        </form>
        {{if .Content.Error}}
        <div class="ui secondary inverted red segment">
          <p> <span class="error">{{.Content.Error}}</span> </p>
        </div>{{end}}
      </div>
    </div>
  </div>
</div>
{{end}}
