{{define "content"}}
<div class="row fullWidth">
  <div class="ui one column center aligned grid">
    <div class="column four wide form-holder">
      <div class="logo">
        <img src="/assets/img/cyza.png" alt="Cyza logo" />
      </div>
      <h1 class="h1Sign">Change password</h1>
      <form class="ui form" method="POST">
        <div class="field">
          <label>New password</label>
          <input type="password" name="password" />
        </div>
        <div class="field">
          <label>Confirm new password</label>
          <input type="password" name="passwordconfirm" />
        </div>
        <div class="row">
          <button type="submit" class="ui button large fluid blue">Change password</button>
        </div>
      </form>
      {{if .Content.Error}}
      <div class="ui secondary inverted red segment">
        <p> <span class="error">{{.Content.Error}}</span> </p>
      </div>{{end}}
    </div>
  </div>
</div>
{{end}}
