{{define "content"}}
<div class="row fullWidth">
  <div class="ui one column center aligned grid">
    <div class="column four wide form-holder">
      <div class="logo">
        <a href="/login"><img src="/assets/img/cyza.png" alt="Cyza logo"></a>
      </div>
      <h1 class="h1Sign">Sign up</h1>
      <form action="/signup" class="ui form" method="POST">
        <label for="username" class="labelForm">Email</label>
        <div class="field">
          <input type="text" name="username" placeholder="Username">
        </div>
        <label for="password" class="labelForm">Password</label>
        <div class="field">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
          <input type="password" name="repeatpassword" placeholder="Repeat Password">
        </div>
        <div class="field">
          <input type="submit" value="Sign up" class="ui button large fluid blue">
        </div>
      </form>
      {{if .Content.Error}}
      <div class="ui secondary inverted red segment">
        <p> <span class="error">{{.Content.Error}}</span> </p>
      </div>{{end}}
    </div>
  </div>
</div>
{{end}}
